doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://libs.hhwy.org/ext6/build/classic/theme-triton/resources/theme-triton-all.css')
    script(type='text/javascript', src='http://libs.hhwy.org/ext6/build/ext-all.js')
    script(type='text/javascript', src='http://libs.hhwy.org/ext6/build/classic/theme-triton/theme-triton.js')
    script(type='text/javascript', src='http://libs.hhwy.org/ext6/build/classic/locale/locale-zh_CN.js')
    block script
  body
    block content